# Dependency directories
node_modules/
jspm_packages/
venv/
.venv/
env/
.env
bin/
obj/

# Build artifacts
dist/
build/
out/
*.exe
*.dll
*.so
*.dylib

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
.project
.classpath
.settings/

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Logs and databases
*.log

# Python
__pycache__/
*.pyc

# Documentation/text files
*.md
*.txt

# Shell scripts
*.sh
